<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Info Page</title>
</head>
<body class="bioBody"> 

    <div class="bioDiv">

    <h1>Bio!</h1>

    <p class="bioText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima corporis animi odio dolorem doloribus cupiditate minus impedit, velit ipsa, labore consectetur. Perferendis, numquam? Dicta suscipit temporibus, beatae sequi tempore officiis.</p>

</div>

<img class="bio-img" src="/images/HP-bio-img.png" alt="">
    
</body>
</html>

