<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Info Page</title>
</head>
<body class="bioBody"> 

    <div class="bioDiv">

    <h1>Bio</h1>

    <p class="bioText">Pippin’s childhood was spent in Goshen, New York, a town that sometimes appears in his paintings. There he drew horses at the local racetrack and, according to his own account, painted biblical scenes on frayed pieces of muslin.In World War I, when he served in the infantry. He was wounded in 1918 and discharged with a partially paralyzed right arm. He settled in West Chester, Pennsylvania, and eventually began to paint by burning designs into wood panels with a red-hot poker and then painting in the outlined areas.

        His most frequently used theme centred on the African American experience, as seen in his series entitled Cabin in the Cotton (mid-1930s) and his paintings of episodes in the lives of the antislavery leader John Brown and Abraham Lincoln. Pippin also executed portraits and biblical subjects. His early works are characterized by their heavy impasto and restricted use of colour. His later works are more precisely painted in a bolder palette.
        </p>

</div>

<img class="bio-img" src="/images/HP-bio-img.png" alt="">
    
</body>
</html>

