<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Home page</title>
</head>
<body>
    <h1>Horace Pippin</h1>
    <div>    <p>Horace Pippin (February 22, 1888 – July 6, 1946) was a self-taught American artist who painted a range of themes, including scenes inspired by his service in World War I, landscapes, portraits, and biblical subjects</p></div>
    <a class="link" href="/bio">Read more about the artist</a>

   <img class="home-img" src="/images/Holy-mountain-ii.png" alt="">
   <img class="home-img" src="/images/Self-portrait.png" alt="">
   <img class="home-img" src="/images/park-bench.png" alt="">
   <img class="home-img" src="/images/Christmas-Morning.png" alt="">

</body>
</html> 