<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Home page</title>
</head>
<body>
    <h1>Welcome to the Home Page</h1>
    <div>    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias eos ducimus quas recusandae reiciendis! Soluta ab beatae incidunt, nulla alias qui quaerat ullam enim explicabo. Deleniti reiciendis voluptatibu</p></div>
    <a href="/info">Get some Info on BLAH, or scroll down to see some examples</a>

    <!-- // gallery of images below -->

        <!-- <img src="/images/missingimage.jpg" alt="add image"> -->
    <!-- <img src="/images/missingimage.jpg" alt="add image"> -->
    <!-- <img src="/images/missingimage.jpg" alt="add image"> -->


</body>
</html> 