body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #008ecc;
    background-color: #F8CBC7;
} 

img {
    width: 200px;
}

div{
    width: 700px;
    text-align: center;
    
}

div p {
    font-size: 35px;
    
}

h1 {
    font-size: 60px;
}

.bioText {
    font-size: 17px;
}


.bioDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 100px;
    padding-right: 200px;
    width: 300px;
}

.bioBody{
    display: flex;
	flex-direction: row;
	justify-content:space-evenly;
    color: #F8CBC7;
    background-color: #008ecc;

}

.bio-img {
    width: 600px;

}

.home-img {
    width: 500px;
    padding: 50px;

}

.link {
   text-decoration: underline;
   color: #008ecc;
   font-size: 30px;

}